<div>
  <table class="table" ng-show="orders.length">
    <thead>
      <tr>
        <th>Order Number</th>
        <th>Status</th>
        <th>Total Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="order in orders">
        <td ng-bind="order.order_no"></td>
        <td ng-bind="order.status"></td>
        <td ng-bind="order.total"></td>
      </tr>
    </tbody>
  </table>

  <div ng-show='!orders.length' class="text-center">
    <div class="row text-center">
      No Orders available.
    </div>
  </div>

</div>